extends layout

block content
    div.text-center
        div(class="form-signin")
            div.text-center
                p Welcome Player #{username}!

    ul
      li
          a(href="/lobby") Main Lobby
      li
          a(href="/games/0/lobby") Game Lobby Page
      li
          a(href="/games/0") Game Page
