extends ../layout

block navigation-items
    ul
        li.nav-item
            a(href="/authenticated/lobby") Main Lobby
        li.nav-item
            a(href="/authenticated/lobby/0") Game Lobby Page
        li.nav-item
            a(href="/authenticated/games/0") Game Page
        li.nav-item
            a(href="/unauthenticated/login") Login
        li.nav-item
            a(href="/unauthenticated/register") Register