extends layout

block styles
  link(rel="stylesheet" href="/stylesheets/chat.css")

block scripts
  link(rel='stylesheet' href='/stylesheets/game.css')
  script(src="/scripts/game.js")

block content
  h1 Game #{game.id}

  .row
    #game-table.col
      .deck
        p This is the deck area
      .players
        each player in game.players
          .player(id=`player-${player.id}` class=`of${game.players.length - 1} ${player.current ? 'current' : ''}`)= player.fullname

    .chat.col-4
      input#gameId(type="hidden" value=game.id)
      .row
        #messages

      .row
        .col-md-11
          input.form-control#message-box(type="text" name="message" placeholder="Enter your message")
        .col-md-1
          button#message-submit.btn.btn-primary(type="submit" value="Send") OK

block scripts
  script(src="/scripts/chat.js")
  script(src="/scripts/game-lobby.js")