extends layout

block content
  h1 Lobby

  .row
    .games-list.col
      ul
        each game in games
          - let liId = `join-game-${game.id}`
          li(id=liId)
            a(href=game.joinUrl) Join #{game.name}

      form(method="post" action="/games/create")
        input#game-name(type="text", name="gameName")
        input#number-of-players(type="number", name="numberOfPlayers")
        button#create-game.btn(type="submit", value="Create") Create Game


    .chat.col-6
      #messages
      input#message-box(type="text", name="")
      button#message-submit.btn(type="submit", value="Send") OK

block scripts
  script(src="/scripts/lobby.js")
