extends layout

block content
  h1 Lobby

  .games-list
    ul
      each game in games
        - let liId = `join-game-${game.id}`
        li(id=liId)
          a(href=game.joinUrl) Join #{game.name}